

    <div class="row mt-5 pt-5">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row mt-5 pt-5">
                <div class="col-md-12">
                    <table mdbTable striped="true">
                        <thead>
                          <tr>
                            <th *ngFor="let head of headElements" scope="col">{{ head }} </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr mdbTableCol *ngFor="let order of orders$ | async; let i = index">
                            <th scope="row">{{ order.id }}</th>
                            <td>{{ order.description }}</td>
                            <td>
                                <mdb-icon *ngIf="order.status == 'Rejected'" class="text-danger" fas icon="times-circle"></mdb-icon>
                                <mdb-icon *ngIf="order.status == 'Approved'" class="text-success" fas icon="check-circle"></mdb-icon>
                                {{ order.status }}
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button (click)="accept(order)" class="acceptButton" style="width: 100%;">
                                            Approve
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button (click)="reject(order)" class="rejectButton" style="width: 100%;">
                                            <!-- <mdb-icon far icon="thumbs-down" class=""></mdb-icon> -->
                                            Reject
                                        </button>
                                    </div>
                                </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
